body {
  margin: 0px;
  padding: 0px;
  font-family: "Helvetica";
}

.game {
  display: flex;
}

.spacer {
  flex-grow: 1;
}

.tictactoe {
  margin: auto;
  padding: 10px;
}

.player-container {
  flex-grow: 1;
  text-align: center;
}

.player {
  text-decoration: underline;
}

td {
  width: 100px;
  height: 100px;
  border: solid 5px black;
  text-align: center;
  font-size: 40pt;
  border-radius: 10px;
}

td:hover {
  background-color: #dcdcdc;
  cursor: pointer;
}

.game-title {
  background: black;
  color: #fff;
  padding: 10px;
  text-align: center;
  margin: 0 0 5%;
}

.tictactoe-board {
  text-align: center;
  margin: 0 auto;
  width: 50%;
  padding-top: 20px;
}

.clear {
  clear: both;
}
